asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
django-mathfilters==1.0.0
docopt==0.6.2
idna==3.3
Pillow==9.0.1
requests==2.27.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.9
yarg==0.1.9
